<%page args="section_data" expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
%if section_data['access']['staff'] or section_data['access']['instructor']:
<div class="action-type-container">
    %if section_data['is_small_course']:
        <br><br>
        <h4 class="hd hd-4">${_("View gradebook for enrolled learners")}</h4>
        <br>
        <label for="gradebook-link">${_("Note: This feature is available only to courses with a small number of enrolled learners.")}</label>
        <br><br>
        <span name="gradebook-link"><a href="${ section_data['spoc_gradebook_url'] }" class="gradebook-link"> ${_("View Gradebook")} </a></span>
        <br><br>
        <hr>
    %endif
</div>
%endif
