<%namespace name='static' file='static_content.html'/>
<%!
import third_party_auth
from third_party_auth import pipeline, provider
from django.utils.translation import ugettext as _
from django_countries import countries
from student.models import UserProfile
from microsite_configuration import microsite
from branding.api import get_footer
from branding import api as branding_api
from util.enterprise_helpers import get_enterprise_customer_logo_url
%>

<% footer = get_footer(is_secure=is_secure) %>
<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">

<!-- status messages -->
<div role="alert" class="status message">
  <h3 class="message-title">${_("We're sorry, but this version of your browser is not supported. Try again using a different browser or a newer version of your browser.")}</h3>
</div>

<div role="alert" class="status message submission-error" tabindex="-1">
  <h3 class="message-title">${_("The following errors occurred while processing your registration:")} </h3>
  <ul class="message-copy"> </ul>
</div>

% if third_party_auth.is_enabled():

  % if not running_pipeline:

  <div class="form-actions form-third-party-auth">

  % for enabled in provider.Registry.displayed_for_login():
    ## Translators: provider_name is the name of an external, third-party user authentication service (like Google or LinkedIn).
    <button type="submit" class="button button-primary button-${enabled.provider_id} register-${enabled.provider_id}" onclick="thirdPartySignin(event, '${pipeline_urls[enabled.provider_id]}');">
      % if enabled.icon_class:
      <span class="icon fa ${enabled.icon_class}" aria-hidden="true"></span>
      % else:
      <span class="icon" aria-hidden="true"><img class="icon-image" src="${enabled.icon_image.url}" alt="${enabled.name} icon" /></span>
      % endif
      ${_('Sign up with {provider_name}').format(provider_name=enabled.name)}
    </button>
  % endfor

  </div>

  <span class="deco-divider">
    ## Developers: this is a sentence fragment, which is usually frowned upon.  The design of the pags uses this fragment to provide an "else" clause underneath a number of choices.  It's OK to leave it.
    ## Translators: this is the last choice of a number of choices of how to log in to the site.
    <span class="copy">${_('or')}</span>
  </span>

  % else:

  % endif

% else:

% endif

<div class="group group-form group-form-requiredinformation">
  <h2 class="sr">${_('Required Information')}</h2>
  <div class="container register-container">
    <div class="row">
      <div class="register-logo">
        <!--<img alt="organization logo" src="$ {footer['logo_image']}">-->
        <%block name="navigation_logo">
        <%
        logo_url = get_enterprise_customer_logo_url(request)
        logo_size = 'ec-logo-size'
        if logo_url is None:
            logo_url = branding_api.get_logo_url(is_secure)
            logo_size = ''
        %>
            <img class="${logo_size}" src="${logo_url}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
        </%block>
      </div>
    </div>
    <div class="row">
      <div class="form-container">
         <ol class="list-input">
             <li class="field required text" id="field-notest">
      <label for="notest">${_('No. Test')}</label>
      <input id="notest" type="text" name="notest" value="" placeholder="${_('example: 091100339901')}" required aria-required="true" aria-describedby="notest-tip" />
    </li>

    <li class="field required text" id="field-name">
      <label for="name">${_('Full Name')}</label>
      <input id="name" type="text" name="name" value="${name}" placeholder="${_('example: Jane Doe')}" required aria-required="true" aria-describedby="name-tip" />
    </li>

    <li class="field required text" id="field-alamat">
      <label for="alamat">${_('Alamat')}</label>
      <input id="alamat" type="text" name="alamat" value="" placeholder="${_('Alamat')}" required aria-required="true" aria-describedby="alamat-tip" />
    </li>

    <li class="field required text" id="field-panda">
      <label for="panda">${_('Panda / sub Panda')}</label>
      <input id="panda" type="text" name="panda" value="" placeholder="${_('Panda / sub Panda')}" required aria-required="true" aria-describedby="panda-tip" />
    </li>

  % if microsite.get_value('category') != "pk":
    % if settings.REGISTRATION_EXTRA_FIELDS['kotama'] != 'hidden':
    <li class="field ${settings.REGISTRATION_EXTRA_FIELDS['kotama']} field-kotama" id="field-kotama">
      <label for="kotama">${_('Kotama')}</label>
      <select class="register-select" id="kotama" name="kotama" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['kotama'] == 'required' else ''}>
          <option value="">--</option>
          %for code, kotama_name in UserProfile.KTM_CHOICE:
          <option value="${code}">${ unicode(kotama_name) }</option>
          %endfor
     </select>
    </li>
    % endif

    % if settings.REGISTRATION_EXTRA_FIELDS['satminkal'] != 'hidden':
    <li class="field ${settings.REGISTRATION_EXTRA_FIELDS['satminkal']} field-satminkal" id="field-satminkal">
      <label for="satminkal">${_('Satminkal')}</label>
      <select class="register-select" id="satminkal" name="satminkal" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['satminkal'] == 'required' else ''}>
          <option value="">--</option>
          %for code, satminkal_name in UserProfile.SMKL_CHOICE:
          <option value="${code}">${ unicode(satminkal_name) }</option>
          %endfor
     </select>
    </li>
    % endif
  % endif
         </ol>
      </div>
      <div class="form-container">
     <ol class="list-input">
    % if settings.REGISTRATION_EXTRA_FIELDS['gender'] != 'hidden':
    <li class="field-group field-gender">
      <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['gender']} select" id="field-gender">
        <label for="gender">${_("Gender")}</label>
        <select class="register-select" id="gender" name="gender" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['gender'] == 'required' else ''}>
          <option value="">--</option>
          %for code, gender in UserProfile.GENDER_CHOICES:
          <option value="${code}">${_(gender)}</option>
          %endfor
        </select>
      </div>
    </li>
    % endif
    % if settings.REGISTRATION_EXTRA_FIELDS['year_of_birth'] != 'hidden':
    <li class="field-group field-yob">
      <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['year_of_birth']} select" id="field-yob">
        <label for="yob">${_("Year of Birth")}</label>
        <select id="yob" name="year_of_birth" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['year_of_birth'] == 'required' else ''}>
          <option value="">--</option>
          %for year in UserProfile.VALID_YEARS:
          <option value="${year}">${year}</option>
          %endfor
        </select>
      </div>
    </li>
   % endif

   <li class="field required text" id="field-username">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" value="${username}" placeholder="${_('example: JaneDoe')}" required aria-required="true" aria-describedby="username-tip"/>
    </li>

    % if third_party_auth.is_enabled() and running_pipeline:

    <li class="is-disabled field optional password" id="field-password" hidden>
      <label for="password">'Password</label>
      <input id="password" type="password" name="password" value="" placeholder="Password" disabled required aria-required="true" />
    </li>

    % else:

    <li class="field required password" id="field-password">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" value="" placeholder="Password" required aria-required="true" />
    </li>

    % endif

   % if microsite.get_value('category') != "pk":
    <li class="field required text" id="field-jabatan">
      <label for="jabatan">${_('Jabatan')}</label>
      <input id="jabatan" type="text" name="jabatan" value="" placeholder="Jabatan" required aria-required="true" aria-describedby="jabatan-tip" />
    </li>

    <li class="field required text" id="field-nrp">
      <label for="nrp">${_('NRP')}</label>
      <input id="nrp" type="text" name="nrp" value="" placeholder="${_('example: 091100339901')}" required aria-required="true" aria-describedby="nrp-tip" />
    </li>

    % if settings.REGISTRATION_EXTRA_FIELDS['pangkat'] != 'hidden':
    <li class="field ${settings.REGISTRATION_EXTRA_FIELDS['pangkat']} field-pangkat" id="field-pangkat">
      <label for="pangkat">${_('Pangkat')}</label>
      <select class="register-select" id="pangkat" name="pangkat" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['pangkat'] == 'required' else ''}>
          <option value="">--</option>
          %for code, pangkat_name in UserProfile.PANGKAT_CHOICE:
          <option value="${code}">${ unicode(pangkat_name) }</option>
          %endfor
     </select>
    </li>
    % endif
    % if settings.REGISTRATION_EXTRA_FIELDS['korp'] != 'hidden':
    <li class="field ${settings.REGISTRATION_EXTRA_FIELDS['korp']} field-korp" id="field-korp">
      <label for="korp">${_('Korp')}</label>
      <select class="register-select" id="korp" name="korp" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['korp'] == 'required' else ''}>
          <option value="">--</option>
          %for code, korp_name in UserProfile.KORP_CHOICE:
          <option value="${code}">${ unicode(korp_name) }</option>
          %endfor
     </select>
    </li>
    % endif
  % endif
   </ol>
	<div class="form-actions">
          <button name="submit" type="submit" id="submit" class="action action-primary action-update register-button">${_('Register')} <span class="orn-plus">+</span> ${_('Create My Account')}</button>
	</div>
        <div class="register-loginInfo">
          <h3 style="  font-size: 16px;
          color: #414141;
          width: 100%;
          text-align: center;
          border-bottom: 1px solid #d0d0d0;
          line-height: 0.1em;
          margin:10px 0 20px;">
            <span class="register-loginInfo-span">Jika telah terdaftar, Silahkan Login</span>
          </h3>
        </div>

    <a href="/login">
    <div class="register-loginBtn">
        Masuk
      </div>
      </a>

      </div>
    </div>
  </div>
</div>

<div class="group group-form group-form-secondary group-form-personalinformation">
  <h2 class="sr">${_("Additional Personal Information")}</h2>

  <ol class="list-input">
    % if settings.REGISTRATION_EXTRA_FIELDS['city'] != 'hidden':
    <li class="field ${settings.REGISTRATION_EXTRA_FIELDS['city']} text" id="field-city">
      <label for="city">${_('City')}</label>
      <input id="city" type="text" name="city" value="" placeholder="${_('example: New York')}" aria-describedby="city-tip" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['city'] == 'required' else ''} />
    </li>
    % endif
    % if settings.REGISTRATION_EXTRA_FIELDS['country'] != 'hidden':
    <li class="field-group">
    <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['country']} select" id="field-country">
        <label for="country">${_("Country")}</label>
        <select id="country" name="country" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['country'] == 'required' else ''}>
          <option value="">--</option>
          %for code, country_name in countries:
          <option value="${code}">${ unicode(country_name) }</option>
          %endfor
        </select>
      </div>
    </li>
    % endif
    % if settings.REGISTRATION_EXTRA_FIELDS['level_of_education'] != 'hidden':
    <li class="field-group field-education-level">
    <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['level_of_education']} select" id="field-education-level">
        <label for="education-level">${_("Highest Level of Education Completed")}</label>
        <select id="education-level" name="level_of_education" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['level_of_education'] == 'required' else ''}>
          <option value="">--</option>
          %for code, ed_level in UserProfile.LEVEL_OF_EDUCATION_CHOICES:
          <option value="${code}">${_(ed_level)}</option>
          %endfor
        </select>
      </div>
    </li>
    % endif
    % if settings.REGISTRATION_EXTRA_FIELDS['year_of_birth'] != 'hidden':
    <li class="field-group field-yob">
      <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['year_of_birth']} select" id="field-yob">
        <label for="yob">${_("Year of Birth")}</label>
        <select id="yob" name="year_of_birth" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['year_of_birth'] == 'required' else ''}>
          <option value="">--</option>
          %for year in UserProfile.VALID_YEARS:
          <option value="${year}">${year}</option>
          %endfor
        </select>
      </div>
      % endif
    </li>
  </ol>
</div>

<div class="group group-form group-form-personalinformation2">
  <ol class="list-input">
    % if settings.REGISTRATION_EXTRA_FIELDS['mailing_address'] != 'hidden':
    <li class="field ${settings.REGISTRATION_EXTRA_FIELDS['mailing_address']} text" id="field-address-mailing">
      <label for="address-mailing">${_("Mailing Address")}</label>
      <textarea id="address-mailing" name="mailing_address" value="" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['mailing_address'] == 'required' else ''}></textarea>
    </li>
    % endif
  </ol>
</div>

<div class="group group-form group-form-accountacknowledgements">
  <h2 class="sr">${_("Account Acknowledgements")}</h2>

  <ol class="list-input">
    <li class="field-group">

      % if  ask_for_tos :
      <div class="field required checkbox" id="field-tos">
        <input id="tos-yes" type="checkbox" name="terms_of_service" value="true" required aria-required="true" />
        <label for="tos-yes">${_('I agree to the {link_start}Terms of Service{link_end}').format(
          link_start='<a href="{url}" class="new-vp" tabindex="-1">'.format(url=marketing_link('TOS')),
          link_end='</a>')}</label>
      </div>
      % endif

      % if settings.REGISTRATION_EXTRA_FIELDS['honor_code'] != 'hidden':
      ## check if we have an Honor Code link in our marketing map
      % if marketing_link('HONOR') and marketing_link('HONOR') != '#':
      <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['honor_code']} checkbox" id="field-honorcode">
        <input id="honorcode-yes" type="checkbox" name="honor_code" value="true" />
        <%
          honor_code_path = marketing_link('HONOR')
        %>
        <label for="honorcode-yes">${_('I agree to the {link_start}Honor Code{link_end}').format(
          link_start='<a href="{url}" class="new-vp" tabindex="-1">'.format(url=honor_code_path),
          link_end='</a>')}</label>
      </div>
      % endif
      % endif
    </li>
  </ol>
</div>
